@import "tailwindcss";

@layer base {
  body {
    background-color: #050505;
    color: #e0e0e0;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }
}

input[type="range"] {
  accent-color: #8b0000;
}
